openapi: 3.0.1
info:
  title: LoanDetailsAPI
  version: 1.0.0
servers:
- url: /
security:
- default: []
paths:
  /getloan:
    get:
      parameters: []
      responses:
        200:
          description: ok
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
        - oauth2
        optional: false
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://test.com
x-wso2-auth-header: Authorization
x-wso2-cors:
  corsConfigurationEnabled: false
  accessControlAllowOrigins:
  - '*'
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
  - authorization
  - Access-Control-Allow-Origin
  - Content-Type
  - SOAPAction
  - apikey
  accessControlAllowMethods:
  - GET
  - PUT
  - POST
  - DELETE
  - PATCH
  - OPTIONS
x-wso2-production-endpoints:
  urls:
  - http://run.mocky.io/v3/06c35897-c2f6-40c0-8163-3d2bffef71c9
  type: http
x-wso2-sandbox-endpoints:
  urls:
  - http://run.mocky.io/v3/06c35897-c2f6-40c0-8163-3d2bffef71c9
  type: http
x-wso2-basePath: /loan/1.0.0
x-wso2-transports:
- http
- https
x-wso2-response-cache:
  enabled: false
  cacheTimeoutInSeconds: 300
